p{
    text-align: center;
}
.todolist{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
    
}

.container{
    margin-bottom: 10px;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    /* width: 10rem; */
}
.buttonContainer{
    display: flex;
    align-items: center;
}
.btn{
   background-color: #f3f2fa;
    border: 1px solid #6D28D9;
    border-radius: 3px;
    margin: 0;
    margin-right: 1px;
    padding: 3px 5px;


} 
 .todo {
    width: 10rem;
    font-size: 16px;
    margin-left: 10px;
  
}
.completed{
    width: 15rem;
    font-size: 16px;
    margin-left: 10px;
  
    text-decoration: line-through;
    color: #ccc;
}
.remove{
    color: rgb(248, 93, 93);
    background-color: rgb(250, 242, 242);
    border: 1px solid  rgb(248, 93, 93) ;
}