/* #F5F3FF
100
#EDE9FE
200
#DDD6FE
300
#C4B5FD
400
#A78BFA
500
#8B5CF6
600
#7C3AED
700
#6D28D9
800
#5B21B6
900
#4C1D95 */

input{
    border-radius: 5px;
    background-color:#F5F3FF ;
    border:1px solid #a888f3;
    padding: 5px;
    outline: none;
    width: 300px;

}
input:focus{
    border:2px solid #5B21B6; 
}
.btnF{
    border-radius: 5px;
    border:1px solid #a888f3;
    padding: 5px;
    margin-left: 10px;
}
.addTodo{
    color:#cec5e7 ;
    background-color:#403161
}
.updateTodo{
    color:#4f416e ;
    background-color:#e9e3f8;
}
.select{
    display: inline-block;
    width: 220px;
    color:#544481 ;
    /* background-color:#403161; */
    padding: 5px;
    margin-left: 10px;
}